---
import Pill from '@/atoms/Pill.astro';

import { getRealURL } from '@/utils/url';

import type { TypeClass } from '@/types';
import type { Page } from 'astro';

export interface Props extends TypeClass {
  currentPage: Page['currentPage'];
  lastPage: Page['lastPage'];
  firstPage: number | string;
  url: {
    prev: Page['url']['prev'];
    next: Page['url']['next'];
  };
}

const {
  currentPage,
  firstPage,
  lastPage,
  url,
  class: className = '',
} = Astro.props;
---

<div class={`grid grid-cols-6 gap-2 ${className}`}>
  <Pill
    as="a"
    aria-disabled={currentPage === 1}
    href={getRealURL(firstPage)}
    class="py-1.5"
  >
    &lt;&lt;
  </Pill>

  <Pill
    as="a"
    aria-disabled={!url.prev}
    href={getRealURL(url.prev ?? firstPage)}
    class="py-1.5"
  >
    &lt;
  </Pill>

  <Pill class="col-span-2 py-1.5">{currentPage} / {lastPage}</Pill>

  <Pill
    as="a"
    aria-disabled={!url.next}
    href={getRealURL(url.next ?? lastPage)}
    class="py-1.5"
  >
    &gt;
  </Pill>

  <Pill
    as="a"
    aria-disabled={currentPage === lastPage}
    href={getRealURL(lastPage)}
    class="py-1.5"
  >
    &gt;&gt;
  </Pill>
</div>
