---
import Pill from '@/atoms/Pill.astro';

import { getRealURL, removeLastDirectoryURL } from '@/utils';

import type { TypeClass } from '@/types';
import type { Page } from 'astro';

export interface Props extends TypeClass {
  currentPage: Page['currentPage'];
  lastPage: Page['lastPage'];
  firstPage: number | string;
  url: {
    prev: Page['url']['prev'];
    next: Page['url']['next'];
  };
}

const {
  currentPage,
  firstPage,
  lastPage,
  url,
  class: className = '',
} = Astro.props;
const currentPath = removeLastDirectoryURL(Astro.url.pathname);
const fistPageURL = getRealURL(
  `${currentPath ? `${currentPath}/` : ''}${firstPage}`
);
const lastPageURL = getRealURL(`${currentPath}/${lastPage}`);
const prevPageURL = getRealURL(url.prev ?? fistPageURL);
const nextPageURL = getRealURL(url.next ?? lastPageURL);
---

<div class={`grid grid-cols-6 gap-2 ${className}`}>
  <Pill
    as="a"
    aria-disabled={currentPage === 1}
    href={fistPageURL}
    class="py-1.5"
  >
    &lt;&lt;
  </Pill>

  <Pill as="a" aria-disabled={!url.prev} href={prevPageURL} class="py-1.5">
    &lt;
  </Pill>

  <Pill class="col-span-2 py-1.5">{currentPage} / {lastPage}</Pill>

  <Pill as="a" aria-disabled={!url.next} href={nextPageURL} class="py-1.5">
    &gt;
  </Pill>

  <Pill
    as="a"
    aria-disabled={currentPage === lastPage}
    href={lastPageURL}
    class="py-1.5"
  >
    &gt;&gt;
  </Pill>
</div>
